.Modal {
    position: fixed;
    inset: 0;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--overlay-color);
}

.content {
    padding: 20px;
    border-radius: 12px;
    background: var(--bg-color);
    transition: 0.3s transform;
    transform: scale(0.5);
    max-width: 60%;
}

.opened {
    opacity: 1;
    pointer-events: all;
    z-index: var(--modal-z-index);

    .content {
        transform: scale(1);
    }
}

.isClosing {
    .content {
        transform: scale(0.2);
    }
}
