.link {
    margin-left: 10px;
    opacity: 1;
    transition: opacity 0.1s linear;
}

.item {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.icon {
    fill: var(--inverted-primary-color);
}

.collapsed {
    .link {
        width: 0;
        opacity: 0;
    }
}
