.app_orange_theme {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #f70;
    --primary-color: #643636;
    --secondary-color: #fff;
    --inverted-primary-color: rgb(255 255 0);
    --inverted-secondary-color: #ed00f1;
}
